/* 背景色の設定 */
body {
    margin-top: 40px;
    background-color: #eee8f3;
    font-family: 'Arial', sans-serif;
    margin-right: 20vw;
    margin-left: 20dvw;
  }
  
  #card {
    background: #eee8f3;
    border-radius: 20px;
    padding: 20px;
    color: #af94bf;
    box-shadow: 10px 10px 15px rgba(169, 180, 210, 0.3), -10px -10px 15px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
  }
  
  #card:hover {
    box-shadow: 12px 12px 20px rgba(169, 180, 210, 0.4), -12px -12px 20px rgba(255, 255, 255, 0.9);
  }

  /* 光と影の補色効果を持つボックス */
#Cbox {
    background: #fff;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #b984c8,  /* 青色の影 */
                -10px -10px 20px #57bdcf;  /* 赤色の光 */
    transition: box-shadow 0.3s ease;
  }
  
  .neumorphism-box:hover {
    box-shadow: 15px 15px 25px rgba(0, 0, 255, 0.7),  /* 青色の影 */
                -15px -15px 25px rgba(255, 0, 0, 0.7);  /* 赤色の光 */
  }
  